<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>

      <div
        class="navbar-nav ml-auto form-inline"
        id="signedOut"
        style="display: flex; flex-direction: row-reverse; align-items: center"
      >
        <style>
          #nav-btn {
            border-color: darkslategray;
            color: darkslategray;
            width: 5em;
            margin: 0.5em;
          }

          #nav-btn:hover {
            background-color: darkslategray;
            color: white;
          }
        </style>
        <% if(!user) {%>
        <form id="registerbtn" action="/register">
          <button id="nav-btn" type="submit" class="btn btn-register">
            Register
          </button>
        </form>

        <form id="login-btn" action="/login">
          <button id="nav-btn" type="submit" class="btn btn-login">
            Login
          </button>
        </form>

        <%} else {%>
        <div class="navbar-nav">
          <p
            class="nav-item nav-link"
            style="
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              width: 300px;
              margin: 1em;
              font-size: large;
            "
          >
            Logged in as: <%= user.email%>
          </p>

          <form
            id="logoutForm"
            class="form-inline"
            action="/logout"
            method="POST"
          >
            <button id="nav-btn" type="submit" class="btn btn-login">
              Logout
            </button>
          </form>
        </div>
        <%}%>
      </div>
    </div>
  </nav>
</header>
